<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3">Chargers</h1>
    <%= link_to "New Charger", new_admin_charger_path, class: "btn btn-primary" %>
  </div>

  <% if @chargers.any? %>
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Location</th>
            <th scope="col" class="text-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @chargers.each do |charger| %>
            <tr>
              <td><%= charger.title %></td>
              <td><%= charger.location&.title || "N/A" %></td>
              <td class="text-end">
                <%= link_to "Show", admin_charger_path(charger), class: "btn btn-sm btn-info" %>
                <%= link_to "Edit", edit_admin_charger_path(charger), class: "btn btn-sm btn-warning" %>
                <%= link_to "Delete", admin_charger_path(charger), method: :delete,
                            data: { confirm: "Are you sure you want to delete this charger?" },
                            class: "btn btn-sm btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert alert-info">
      No chargers found. <%= link_to "Add one now", new_admin_charger_path %>.
    </div>
  <% end %>
</div>
